<article class="main-content__post">
    <!-- Post image -->
    {{ content.field_image }}

    <!-- Post header -->
    <header class="post__header">
        <time class="post__time" datetime="2014-10-17"><span class="time_large">{{ date }}</time>
        <p class="post__meta">Posted by {{ author_name }}</p>
        <h2 class="post__title">{{ label }}</h2>
    </header>

    <div class="post__content">
        <p class="post__excerpt">{{ content.body }}</p>
    </div>

    <div class="post__button">
        <a href="{{ url }}">read</a>
    </div>
</article>